body {
  margin: 0;
  padding: 0;
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

h1 {
  position: absolute;
  bottom: 1%;
  left:5%;
  width: 94%;
  font-size: 36px;
  letter-spacing: 3px;
  color: #fff;
  font-family: Montserrat, sans-serif;
  text-align: left;
}

a {
    color: #fff;
  font-family: Montserrat, sans-serif;
  text-decoration:none;
}
